/* chin isnt even scarrd of th codse */x

/* overall hacks */
/* ------------------------------------------------------------------------------------------------- */
.icon{background-image:none !important;} /* remove bootstrap icons */
i{padding-top:0px; position: relative; top:2px}
::selection {background: #3d74ad; color:#3d74ad;  /* Safari */}
::-moz-selection {background: #3d74ad; color:#fff; /* Firefox */}


body{background:#181818;}

/* bootstrap haxx */


/* typography */
h1,
h3, 
.navbar .nav li a,
.filter .heading{font-family: 'Lato', sans-serif;}
h2,h4, h5, p, ul li, ol li{font-family: 'Roboto', sans-serif;}

h1{text-transform: uppercase; font-weight: bold; font-size:38px; text-shadow: -1px 2px 4px rgba(0,0,0,0.7); color:#fff; letter-spacing: 2px;}

p{font-size:13px;}

/* buttons */
button{border:none;}
.button{border:none; background:#e13636; border-radius: 3px; font-weight: bold; text-transform: uppercase; font-size: 12px; color:#fff; text-shadow: none; }
.button:hover{background:#ec5656; text-decoration: none; color: #fff}

.button_alt{background:url(../images/buttons/home_action.jpg) repeat-x; border:1px solid #677594;}
.button_alt:hover{background:#68689b;}

/* header */
/* ------------------------------------------------------------------------------------------------- */
.navbar .nav li{padding-top:16px;}
.navbar .nav li a{padding:7px 13px; margin-right:10px; font-weight: 900; text-transform: uppercase; font-size:12px;color:#686868;}
.navbar .nav li a.button{color:#fff; text-shadow: none; margin-right:0; }
.navbar .nav li a.button:hover{background:#ec5656}
.navbar .brand{opacity: 0.8; transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out;}
.navbar .brand:hover{opacity: 1;}

/* universal */
/* ------------------------------------------------------------------------------------------------- */
.wrapper{background:#f6f6f6; padding:20px 0;}

/* universal search */
.search{background:url(../images/elements/search/backer.jpg) repeat-x #e0e0e0; border-radius: 3px; padding:10px; border:1px solid #cbcbcb;}
.search input{margin-right:5px; margin-bottom:0; height:30px; box-shadow: 0 1px 1px #fff, inset 0 1px 3px rgba(0,0,0,0.1);}
.search .what{width:364px; background:url(../images/home/search.png) 10px center no-repeat #fff; text-indent:20px;}
.search .type{background:url(../images/home/rows.png) 10px center no-repeat #fff;}
.search .where{background:url(../images/home/globe.png) 10px center no-repeat #fff;}
.search .type,
.search .where{width:205px; text-indent:17px; padding:9px 20px 9px 0; margin-right:5px; height:40px; position: relative; top:5px;}
.search .button{padding:9px 26px;}

/*  home search*/
.home_search{background:rgba(0,0,0,0.5); border:none;}
.home_search input{box-shadow: none;}

/* landing */
/* ------------------------------------------------------------------------------------------------- */
.hero{background:url(../images/home/hero_backer.jpg) center no-repeat; background-size:cover; width:100%; padding:90px 0;}
.hero h2{font-size:18px; font-weight: 500; color:#fff; text-shadow: 1px 2px 2px rgba(0,0,0,0.7);}



/* filter */
.filter{background:#fff; border-radius: 3px; border:1px solid #dcdcdc; padding-bottom:10px;}
.filter li{padding:5px 10px}
.filter li span{color:#ccc; font-size:12px; font-weight: bold;}
.filter .heading{background:url(../images/elements/filter/backer.jpg) repeat-x; height:20px; padding-top:10px; font-size:12px; font-weight: 900; text-transform: uppercase; line-height: 12px; padding-left:10px;color:#6e6e6e; border-bottom: 1px solid #dcdcdc; margin-bottom:10px; padding-bottom:0;}

/* cards */
#card_container{width:700px;}
.card {
	width:220px;
	background: #fff;
	border: 1px solid #DCDCDC;
	padding-bottom: 5px;
	margin-bottom:10px;
	border-radius: 3px;
}

.card img {
	border-bottom: 1px solid #ccc;
}

.card .info{
	padding:0 10px;
	position: relative;
}

.card .info .title a{
	color:#757575;
	font-weight: bold;
	font-size:15px;
}

.card .info img.flag{
	position: absolute;
	top:0;
	right:10px;
	width: auto;
}

.card .info p{color:#757575; font-size: 15px;}

/* load moar */
.load_more a{padding:10px 0; }


/* results */
/* ------------------------------------------------------------------------------------------------- */
.results{background:#fff; border-radius: 3px; border:1px solid #dcdcdc;}
.results .item{border-bottom:1px solid #dcdcdc; padding:10px;  position: relative;}
.results .item:last-child{border-bottom:none;}

.results .item .thumb{float: left; margin-right:20px;}
.results .item .title{font-size: 16px; color:#4d4dc9; font-weight: normal; line-height: 18px; margin:0; padding-bottom:5px;}
.results .item .subtitle{font-size:13px; color:#737373; padding-bottom:10px;}
.results .item p.price{position: absolute; top:20px; right:20px; display: block; font-size: 30px;}
.results .item p.price .sign{font-size:18px; font-weight: bold; }
.results .item p.price .currency{font-weight: normal; font-size:18px; color:#999}
.results .item p.forshow{color:#cacaca;}
.results .item .meta{margin-bottom: 0;}
.results .item .meta li{color:#737373;font-size:13px;}

.alert{background:url(../images/elements/search/backer.jpg) repeat-x #e0e0e0; border-radius: 3px; border:1px solid #cbcbcb;}
.alert p{color:#686868; margin-bottom: 0; text-shadow: 0 1px 1px #fff;}


/* profile */
/* ------------------------------------------------------------------------------------------------- */
.profile{text-align: center; background:#262528; border-radius: 3px; padding:10px;}
.profile .profile_pic{border-radius: 999em; border:3px solid #666;}
.profile .profile_pic:hover{border-color:#ddd;}
.profile h3{line-height: 20px;}
.profile h3.user_name a{color:#fff; font-size:16px; font-weight: normal;}
.profile h3.user_name a:hover{text-decoration: none; opacity: 0.8;}
.profile p.user_meta{font-size: 13px; color:#fff; padding-bottom:8px;}
.profile p.user_meta .subheading{font-size: 11px; text-transform: uppercase; font-weight: bold; color:#aaa; display: block;}
.profile .calltoaction{padding:7px; display: block;}

.items_expanded .item{background:#fff; border-radius: 3px; border:1px solid #dcdcdc; padding:10px 20px 10px 10px; min-height: 300px; position: relative; margin-bottom:20px;}

.items_expanded .item .main_image{float: left; width: 184px; margin-right: 20px;}
.items_expanded .item .title_block{display: block; height: 24px; padding-bottom:20px; border-bottom:1px solid #999; margin-left: 204px;}
.items_expanded .item .title_block h3{display:block; float: left; margin:0; font-weight: 300}
.items_expanded .item .title_block p.price{float: right; padding-top:10px; font-size: 18px;}
.items_expanded .item .info{width: 320px; float: left; display: block; padding: 10px 0 0 0;}
.items_expanded .item .info p{color:#999;}
.items_expanded .item .info .subtitle{font-size: 18px; color:#999}
.items_expanded .item .meta{padding-top:10px;}
.items_expanded .item .meta .subheading{text-align: right;}
.items_expanded .item .meta .subheading{font-size:14px;}
.items_expanded .item .meta .subheading span{font-weight: bold; text-transform: uppercase;color:#cacaca; font-size:11px; display: block;}
.items_expanded .item .images{position: absolute;bottom:0;}


/* footer */
/* ------------------------------------------------------------------------------------------------- */
.pre_footer{height: 48px; padding-top:25px; background:url(../images/footer/backer.png) repeat-x #ddd;}
.pre_footer ul li a{font-weight: bold; color: #666; text-transform: uppercase; padding:10px 10px; text-shadow: 0 1px 1px #fff;}
.pre_footer ul li a:hover{color:#09f; text-decoration: none;}

footer{background:#181818; text-align: center; padding:10px 0 0;}
footer ul li,
footer ul li a{color:#ddd; font-size: 11px;}


/* animate like a boss */
/* ------------------------------------------------------------------------------------------------- */
#one {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1s;
	-moz-animation-duration: 0.5s;
	-moz-animation-delay: 1s;
/* 	-webkit-animation-iteration-count: infinite; */
}

#two {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1.2s;
	-moz-animation-duration: 0.5s;
	-moz-animation-delay: 1.2s;
/* 	-webkit-animation-iteration-count: infinite; */
}

#three {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1.4s;
	-moz-animation-duration: 0.5s;
	-moz-animation-delay: 1.4s;
/* 	-webkit-animation-iteration-count: infinite; */
}